/bin/markdown/
/bin/compare_results/
/bin/graph_results/
/bin/UnitTests/
/bin/Debug/
/bin/Debug64/
/bin/RelWithDebInfo/
/bin/RelWithDebInfo64/
/bin/Release/
/bin/Release64/
/bin/Scenarios/
/bin/states/
/bin/stable/
/bin/validation/
/bin/xsd/
/bin/UCEDefs.txt
/bin/*.jar
/bin/*.log
/bin/*.xml


/deploy/toolkit/BioGears.jar
/deploy/toolkit/Scenarios/
/deploy/toolkit/config/
/deploy/toolkit/ecg/
/deploy/toolkit/environments/
/deploy/toolkit/states/
/deploy/toolkit/substances/
/deploy/toolkit/patients/
/deploy/toolkit/nutrition/
/deploy/toolkit/release/
/deploy/toolkit/release64/
/deploy/toolkit/xsd/
/deploy/toolkit/BioGearsConfiguration.xml
/deploy/toolkit/UCEDefs.txt
/deploy/toolkit/log4j.properties
/deploy/toolkit/build*.bat
/deploy/*.zip
/deploy/*.tlog
/deploy/*.tlog


/docs/Doxygen/processed_md/
/docs/Doxygen/*.tmp
/docs/Doxygen/latex/
/docs/Doxygen/html/*.css
/docs/Doxygen/html/*.hhc
/docs/Doxygen/html/*.hhk
/docs/Doxygen/html/*.hhp
/docs/Doxygen/html/*.html
/docs/Doxygen/html/*.js
/docs/Doxygen/html/*.pdf
/docs/Doxygen/html/*.png
/docs/Doxygen/html/*.PNG
/docs/Doxygen/html/_formulas.tex
/docs/Doxygen/html/search/**/*
/docs/Doxygen/html/plots/**/*
!/docs/Doxygen/html/bootstrap/**/*
!/docs/Doxygen/html/font-awesome-4.3.0/**/*
!/docs/Doxygen/html/images/**/*

/src/cmake/msvs12x32/
/src/cmake/msvs12x64/
/src/cmake/msvs14x32/
/src/cmake/msvs14x64/
/src/cmake/mingw/
/src/cmake/mingw64/
/src/cmake/xcode/
/src/cmake/unixMake/
/src/cmake/raspberryPi/

/src/cdm/build/

/src/schema/build/
/src/schema/cpp_schema_built
/src/schema/java_schema_built
/src/schema/java/mil/tatrc/physiology/datamodel/bind/
/src/schema/cpp/bind/min/
/src/schema/cpp/bind/*.hxx
/src/schema/cpp/bind/*.cxx

/src/engine/build/

/src/gui/build/

/src/sdk/bin/
/src/sdk/include/
/src/sdk/lib/
/src/sdk/howto/build/
/src/sdk/cmake/msvs14x32/
/src/sdk/cmake/msvs14x64/
