*.Plo
*.Po
*.lo
*.o
Makefile
config.h
config.log
config.status
libtool
samples/Makefile
src/Makefile
src/xercesc/util/MsgLoaders/MsgCatalog/Makefile
tests/Makefile
samples/.libs/
samples/CreateDOMDocument
samples/DOMCount
samples/DOMPrint
samples/EnumVal
samples/MemParse
samples/PParse
samples/PSVIWriter
samples/Redirect
samples/SAX2Count
samples/SAX2Print
samples/SAXCount
samples/SAXPrint
samples/SCMPrint
samples/SEnumVal
samples/StdInParse
samples/XInclude
src/.libs/
src/libxerces-c.la
